<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.siyehua.viewpagerandtoolsbar"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".HelpActivity">
        </activity>
        <activity android:name=".SettingActivity">
        </activity>

        <service
            android:name=".VoiceIntentService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.siyehua.viewpagerandtoolsbar.action.FOO"/>
            </intent-filter>
        </service>
        <service
            android:name=".VoiceService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>
